*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #696969, #232526);
}


/* header............................... */

.header{
    width: 100%;
    height: 48px;
    background-color: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
}

.header .nav:not(.more){
    margin: 0 25px;
}

.header .nav a{
    display: inline-block;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 43px;
    padding: 0 15px;
}

.header .clk a{
    color:rgb(179 59 59);
    border-style: solid;
    border-color: #bebebe00 #bebebe00 rgb(179 59 59) #bebebe00;
    background-clip: padding-box;
}

.header .nav:not(.more):hover a{
    background-color: #ccc;
    color: #000;
    border-radius: 5px;
    transition: 0.75s;
}
.header .nav:not(.more):active a{
    background-color: #6a6a6adb;
    transition: 0.5s;
}

.header .more{
    width: 55px;
    height: 48px;
    position: absolute;
    right: 0;
}

.header .more .lines{
    cursor: pointer;
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding: 0 13px 0 13px;
    margin: 0;
}

.header .more .lines hr{
    background-color: #fff;
    margin: 3px 0px;
}


.header .more .lines:hover{
    background-color: #a73333;
    transition: 0.5s;
}

.header .more .subnav{
    display: none;
    width: 240px;
    border-radius: 5px;
}

.header .more .subnav div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.header .more .subnav a{
    color: #000;
    text-align: center;
    line-height: 25px;
}

.header .more .subnav div:hover{
    background-color: #ccc;
    border-radius: 5px;
    transition: 0.75s;
}
.header .more .subnav div:active{
    background-color: #6a6a6adb;
    transition: 0.5s;
}


.header .more:hover .subnav{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 48px;
    background-color: #fff;
}


/*...................................... */

body .clock{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

#dong_ho #thoi_gian{
    display:flex;
    justify-content: center;
}
#dong_ho #thoi_gian div{
    position: relative;
    margin: 0 5px;
}

#dong_ho #thoi_gian{
    /* background-color: rgb(147, 97, 170); */
    border: 9px solid white;
    padding: 30px 10px;

    border-radius: 25px;

    box-shadow: 6px 6px 90px #fcf9f9;

}

#dong_ho #thoi_gian div span{
/*     color: white; */
    font-family:'digital-clock-font';
    position: relative;
    display:block;
    width:160px;
    height: 80px;
    font-weight: 500;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    z-index:3;
}

.hai_cham{
    position: relative;
    display:block;
    font-weight: 300;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    z-index:3;
}


#dong_ho #thoi_gian {
    position: relative;
    margin: 5px 10px;
    -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(0, 0, 0, 0.144));

}

#thoi_gian{
    color: white;
    text-shadow: 0px 0px 8px white;
}

#thoi_gian:hover{
    background: linear-gradient(to bottom right,#ffffff, #c3d6e8);
    color: black;
    text-shadow: 6px 5px 5px #404040;
    transition: 0.8s;
}

@font-face{
    font-family:'digital-clock-font';
    src: url('font-digital-clock.ttf');
}
