*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background: linear-gradient(to left top, #0F2027, #203A43, #2C5364);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;

}
.menu .nav{
    transition: all 0.25s ease;
}
.menu .nav a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 26px 36px;
    margin: 0 37px;
    background: #ffffff12;
    /* backdrop-filter: blur(5px); */
    border-radius: 11px;
    box-shadow: 5px 5px 10px #000000a8;
    text-shadow: 0px 0px 10px #ffffff;
    transition: all 0.25s ease;
}

.menu .nav:hover{
    /* transform: scale(1.2);  */
    transform: translateY(-10px);
    transition: all 0.25s ease;
}
.menu .nav:hover a{
    box-shadow: 5px 12px 20px #000000a8;
    text-shadow: 0px 0px 25px #ffffff;
    transition: all 0.25s ease;
}
.menu .nav:active{
    transform: translateY(0px);
    transition: all 0.25s ease;
}

/* 
.header{
    width: 100%;
    height: 48px;
    background-color: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
}

.header .nav{
    
}

.header .nav a{
    display: inline-block;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 40px;
    padding: 0 15px;
}

.header .nav:not(.more):hover a{
    background-color: #ccc;
    color: #000;
    border-radius: 5px;
    transition: 0.75s;
}
.header .nav:not(.more):active a{
    background-color: #6a6a6adb;
    transition: 0.5s;
}

.header .more{
    width: 55px;
    height: 48px;
    position: absolute;
    right: 0;
}

.header .more .lines{
    cursor: pointer;
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding: 0 13px 0 13px;
    margin: 0;
}

.header .more .lines hr{
    background-color: #fff;
    margin: 3px 0px;
}


.header .more .lines:hover{
    background-color: #a73333;
    transition: 0.5s;
}

.header .more .subnav{
    display: none;
    width: 240px;
    border-radius: 5px;
}

.header .more .subnav div{
    display: flex;
    justify-content: center;
    height: 50px;
}

.header .more .subnav a{
    color: #000;
    text-align: center;
    line-height: 25px;
    z-index: 5;
}

.header .more .subnav div:hover{
    background-color: #ccc;
    border-radius: 5px;
    transition: 0.25s;
}
.header .more .subnav div:active{
    background-color: #6a6a6adb;
    transition: 0.2s;
}


.header .more:hover .subnav{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 48px;
    background-color: #fff;
} */


